@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!-- todo define class -->
<h1 class="text-center font-weight-bold">Välkommen till Filmfabriken @User.Identity.Name!</h1>
<div id="home-p-wrapper">
    <div id="home-p">
</div>
    
</div>