@page
@model PrivacyModel
@{
    ViewData["Title"] = "Integritet";
}
<h1>@ViewData["Title"]</h1>


<p>     Me and my family stayed there for a wedding.
       
       The hotel has only been partly renovated and most of our rooms smelled disgustingly bad like cigarette. They should remove all carpets as they catch all the smell.
       
       The breakfast consists of really old bread which must be several days old. All other choices were tasteless. Worst breakfast I had in Vietnam so far.
       
       To top it all off when we checked out, the hotel asked us to pay for a missing hanger we never took. It was really embarrassing and we lost a lot of time arguing with the hotel staff about it.
       There is a list of items in each room what they charge you if anything is missing. This is ridiculous. They trying to squeeze additional money out of you with a sneaky hotel policy.
       
       Don't stay here there are better hotels in Hai Phong. Will never stay here again.
</p>
