

.search{
    background-color: #37672c;
    width: 100%;
}


.inner-search {
    width: 100%;
    border-radius: 30px 0px 0px 30px;
}

.search-button {
    width: 50px;
    border-radius: 0px 30px 30px 0px;
}

.inner-search, .search-button {
    height: 30px;
    border: none;
}


.image-container {

}

.image {
    border-radius: 20px 20px 0 0;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
}


.middle {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: .5s ease;
    width: 70%;
}


.image-container:hover .image{
    opacity: .3;
}

.image-container:hover .middle{
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    word-wrap: anywhere;
    text-decoration-thickness: auto;
}

.movie {
    margin: 20px 20px;
    width: 300px;
}

.overview {
    border-radius: 0 0 20px 20px;
    background: #ffffff;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating {
    color: green;
    font-weight: bold;
}
