@page
@model FilmFabriken.Pages.Admin


<div class="text-center">
    <h1 class="font-weight-bolder text-capitalize">This is the Admin page!</h1>
    <hr/>
    <p class="font-weight-lighter">Makes people talk.</p>
</div>