@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">
    <h1 class="text-center font-weight-bold">Välkommen till Filmfabriken @User.Identity.Name!</h1>
    <div class="index-back">
        <div id="home-p"></div>
    </div>
</div>